// color palettes
$_blue: rgb(0,120,242);
$_light-blue: rgb(234,244,254);
$_light-gray: rgb(168,168,168);

// colors
// nav
$clr-bck-nav: rgb(42,42,42);
$clr-txt-nav: $_light-gray;
$clr-bck-nav-button: $_blue;
$clr-txt-nav-button: $_light-blue;
