@use "mixins.scss" as mi;
@use "variables.scss" as var;
@font-face {
    font-family: 'Neutral Face';
    src: url("../assets/font/NeutralFace/NeutralFace.otf");
}
@font-face {
    font-family: 'Neutral Face';
    font-weight: bold;
    src: url("../assets/font/NeutralFace/NeutralFace-Bold.otf");
}
html {
    font-family: 'Neutral Face', sans-serif;
    letter-spacing: 0.7px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body {
    &-header {
        height: var.$header-height;
        width: 100%;
        @include mi.flex;
        justify-content: space-between;

        background-color: var.$clr-bck-header;

        &-logo {
            height: 100%;
        }
        &-menuicon {
            height: 100%;
            width: var.$header-height;
            @include mi.flex-center;
            background-color: var.$clr-bck-header-menuicon;
            &-img {
                fill: var.$clr-txt-header-menuicon;
                overflow: visible;
                &-first, &-second, &-third {
                    transition: transform 400ms linear;
                }
                &:hover & {
                    &-first {
                        transform: rotate(30deg);
                    }
                    &-third {
                        transform: rotate(-30deg);
                        transform-origin: 3% 0%;
                    }
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        &-nav {
            @include mi.pos-absolute(var.$header-height, 0, 5em, 0);
            
            @include mi.grid();
            display: none;
            grid-template: 
            "store" minmax(50.59px, 0.8fr)
            "faq" minmax(50.59px, 0.8fr)
            "help" minmax(50.59px, 0.8fr)
            "about" minmax(50.59px, 0.8fr)
            "." 5fr
            "login" minmax(51.3px, 1.1fr)
            "download" minmax(51.3px, 1.1fr) /
            auto
            ;

            background-color: var.$clr-bck-header-nav;
            &-element {
                @include mi.style-text(var.$clr-txt-header-nav, var.$clr-hover-txt-header-nav, var.$header-nav-padding);
                height: 100%;
                border-bottom: 1px var.$clr-border-header-nav solid;
            }
            &-login {
                grid-area: login;
                @include mi.style-button(var.$clr-txt-header-nav-login, var.$clr-bck-header-nav-login, var.$clr-hover-txt-header-nav-login);
                @include mi.flex-center(1em);
                height: 100%;
                box-shadow: 5px -7px 9px rgb(36, 34, 34);
                &-icon {
                    width: 3%;
                    fill: var.$clr-txt-header-nav-login;
                }
                &:hover &-icon {
                    fill: var.$clr-hover-txt-header-nav-login;
                }
            }
            &-download {
                @include mi.style-button(var.$clr-txt-header-nav-download, var.$clr-bck-header-nav-download);
                grid-area: download;
                width: 100%;
                height: 100%;
            }
        }
        &.open {
            &::after {
                @include mi.pos-absolute(0, 0, 0, 0, -1);
                content: "";

            }
            .body-header {
              &-nav {
                display: grid;
              }  
            }
        }
    }
}

// tablet
@include mi.media-min(768px) {
    
}

// laptop
@include mi.media-min(1440px) {

}