@use "mixins.scss" as mi;
@use "variables.scss" as var;
.body {
    &-main {
        padding: 2em;
        position: relative;
        &-nav {
            @include mi.flex;
            justify-content: space-between;
            &-search {
                width: clamp(1.4em, 2.7%, 4em);
                color: rgb(168,168,168);
            }
            &-menu {
                // position
                @include mi.pos-absolute(auto, auto, 50%);
                transform: translateX(-50%);
                // @include mi.flex-center(0.4em);
                // &-icon {
                //     width: 3%;
                // }
                border: none;
                outline: none;
                & option {
                    display: none;
                }
            }
        }
    }
}